{% extends "header.html" %}
{% block content %}
    <h2>About</h2>
    <p>
        This is a basic (reserved) Flask app that displays statistical information for all current NFL players as
        well as information about their fantasy value. A review system is also in place so users can provide reviews
        about players. You will notice immediately that the data overall seems to be lacking. This is the case 100%. The reason
        for it is the API we decided to obtain our data from. Statistical football data is apparently not always
        free and we had a difficult time obtaining it. This API, though only providing limited data, would serve
        our purpose if we were to expand our obtainable data outside of just the test data.
    </p>
    <p>
        This Flask app was created by Viraj Patel, Henry Wang and Gordon Wu.
    </p>
{% endblock %}