{% extends "header.html" %}
{% block content %}
    <h2>About</h2>
    <p>
        This is a basic (reserved) Flask app that displays statistical information for all current NFL players.
        There are two ways of obtaining this information. The first is to use the team selection button. This 
        search function will essentially allow you to filter players by their current team. If you think this is 
        too limiting however, you can always just select the 'All Teams' option, which will return all available
        players. The other option to find a player is to look them up directly by name. Be  careful, however, as 
        this requires you to spell their name completely correctly.
    </p>
    <p>
        You will notice immediately that the data overall seems to be lacking. This is the case 100%. The reason
        for it is the API we decided to obtain our data from. Statistical football data is apparently not always
        free and we had a difficult time obtaining it. This API, though only providing limited data, would serve
        our purpose if we were to expand our obtainable data outside of just the test data.
    </p>
    <p>
        After finding a player, you will be able to see their statistics for the available weeks they have played.
        Every player has stats based on what they have done in games (obviously) and we neatly format it and show it
        for you all to see. The most important thing, however, is that this data also includes the Fantasy Point
        values for three different Fantasy Football hosts (NFl.com, Fan Duel and Draft Kings). We then included a 
        review system. Visitors of the page can always view players and written reviews, but they cannot add reviews
        for a player unless they are an actual user of the page. This requires registration and being logged on. 
    </p>
    <p>
        This Flask app was created by Viraj Patel, Henry Wang and Gordon Wu.
    </p>
{% endblock %}