{% extends "header.html" %}
{% block content %}

{% if form.username.errors %}
    <div class="alert alert-warning" role="alert">
        {% for error in form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}


<div class="row">
    <div class="col">
        {# Greeting #}
        Hi {{ current_user.username }}!
    </div>
</div>
<div class="row">
    <div class="col">
        {# Username Update Form #}

        <div class="row">
          <div class="col">
            <form method="POST" action="">
              {{ form.csrf_token }}
              <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}

              </div>
              {{ form.submit() }}
            </form>
          </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col">
        {# EXTRA CREDIT #}
        {# Profile Picture Update Form #}
    </div>
</div>
<div class="row">
    <div class="col">
        Click the link to see all of your reviews!
        <a href="{{ url_for('main.user_detail', username=current_user.username)}}">
            <p><strong>@{{ current_user.username }}</strong></p>
        </a>
    </div>
</div>
{% endblock %}