{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p><b>Error Message: {{ error_msg.message }}</b></p>
    <p><b>Status Code: {{ error_msg.status_code }}</b></p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <div class="media-body">
        <h5 class="mt-0">
            <a href="{{ url_for('football.player_detail', player_id=result.player_id) }}">
                {{ result.fullname }}
            </a> 
            ({{ result.pos1 }})
            ({{ result.pos2 }})
            ({{ result.cteam }})
            ({{ result.jnum }})
            ({{ result.col }})
        </h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}