{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        {{ username }}'s Profile
    </div>
</div>
<div class="row">
    <div class="col">
        {# Show all reviews made by the user #}

		<div class="row">
			<div class="col-md-12">
			  <h1> Reviews <small class="float-right">{{ reviews.count() }} reviews</small></h1>
			  <ul class="media-list">
				{% for review in reviews %}
				<li class="media review-item">
				  <div class="media-body">
					<span class="float-right">
					  <small>{{ review.date }}</small>
					</span>
					<a href="{{ url_for('football.player_detail', player_id=review.player_id) }}">
					  <strong>@{{ review.player_name }}</strong>
					</a>
					  <br> {{ review.content }}
					  <br> <b>Draft Round</b> {{review.draftRound}}
					  <br> <b>Play again?</b> {{review.playAgain}}
				  </div>
				</li>
				{% endfor %}
			  </ul>
			</div>
		  </div>

    </div>
</div>
{% endblock %}