img {
    max-width: 1000;
    padding: 1;
}

.card-body > img {
    max-width: 200;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media-list {
    border-top: 1px dashed rgb(150, 150, 150);
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}

table {
    border-collapse: collapse;
    width: max-content;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
    vertical-align: middle;
    height: fit-content;
}

th {
    text-align: center;
    vertical-align: middle;
    color: black;
    height: auto;
}

tr:hover {background-color: #a5a5a5;}

/* .nav-user {
    border-right: 1px #1d1d1d;
} */